<% content_for :title do %>Seansy Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="app_store_rating" data-view="Appstore" data-title="AppStore Stats"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mixpanel_users_today" data-view="Number" data-title="Total users today"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pingdom-status" data-view="Pingdomstatus" data-title="Status"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="stats" data-view="Stats"></div>
    </li>
  </ul>
</div>
